In [1]:
%matplotlib notebook
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

In [2]:
lat_data = pd.read_csv("Resources/cities.csv")

lat_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [3]:
#group by 'lat', 'Max Temp', 'Wind Speed', 'Cloudiness', 'Humidity'
lat_data= lat_data['Lat'].value_counts()
mtemp_data= lat_data['Max Temp'].value_counts()


image_df= pd.DataFrame(lat_data, mtemp_data)
image_df
#plt.scatter(lat_plot, mtemp_plot,marker="o", facecolors="teal", edgecolor="blue",
      #alpha=0.75)   
    
    
#plot.show()

KeyError: 'Max Temp'